:root{
  --available: #21ca7c;
  --occupied: #0dcaf0;
  --black-soft: #313131;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  /* background-color: #22668A; */
  /* background-color: #253D4B; */
  /* background-color: #0c5a82; */
  background-color: #0c5073;
  
  
}

.category-aktif {
  /* background-color: #22668A; */
  background-color: #0c5073;
  color: white;
}

.btn-primary {
  /* background-color: #22668A; */
  background-color: #0c5073;
}

.btn-squared-default
{
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

    .btn-squared-default:hover
    {
        border: 3px solid white;
        font-weight: 800;
    }

  .btn-squared-default-plain
  {
      width: 100% !important;
      /* height: calc(10vh - 16px) !important;  */
      /* padding-top: 100%; */
      font-size: 10px;
  }

/* .btn-squared-default-plain:hover
{
    border: 0px solid white;
} */

.bg-available
{
  color: var(--black-soft);
  background-color: var(--available);
  background-image: linear-gradient(to bottom left, var(--available) 0%, var(--available) 50%, var(--available), var(--available));
}
button.bg-available:hover
{
  color: white;
}

.bg-occupied
{
  color: var(--black-soft);
  background-color: var(--occupied);
  background-image: linear-gradient(to bottom left, var(--occupied) 0%, var(--occupied) 50%, var(--occupied), var(--occupied));
}
button.bg-occupied:hover
{
  color: white;
}

.bg-booked-available
{
  color: var(--black-soft);
  background-color: var(--available);
  background-image: linear-gradient(to bottom left, var(--available) 50%,  #ffc107 51%);
}
button.bg-booked-available:hover
{
  color: white;
}

.bg-booked-occupied
{
  color: var(--black-soft);
  background-color: #ffc107; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom left, var(--occupied) 0%, var(--occupied) 50%, #ffc107 51%, #ffc107 100%);
}
button.bg-booked-occupied:hover
{
  color: white;
}
@media only screen and (max-height: 1000px) {
  .hasil {
    height: 80vh;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
